@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "PT Sans", Arial, sans-serif;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

html {
    font-size: 10px;
}

body {
    background-color: #f0f0f0;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* HEADER */
header {
    height: 53px;
    border-bottom: solid #c00 3px;
    font-size: 1.6rem;
    color: #fff;
    background: #252525;
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: bold;
}

header .logo img {
    width: 70px;
    margin: 0 2px 0 4px;
}

header menu {
    display: flex;
}

header menu li {
    list-style: none;
    margin-left: 20px;
}

header menu li a {
    text-decoration: none;
    color: #fff;
}

header menu li a:hover {
    color: gray;
}

/* MOVIES BLOCK */
.movies-block {
    margin-bottom: 50px;
}

.movies-block ul {
    display: flex;
    flex-wrap: wrap;
}

.movies-block h2 {
    font-size: 3.5rem;
    text-align: center;
    padding: 20px;
}

.movies-block .list-url {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.movies-block .list-url a {
    text-decoration: none;
    color: #0066d0;
    font-size: 1.6rem;
    cursor: pointer;
}

.movies-block .list-url a:hover {
    color: gray;
}

/* MOVIE */
.movie {
    width: 260px;
    list-style: none;
    margin-bottom: 10px;
    margin: 10px 20px;
}

.movie .backdrop {
    width: 260px;
    max-height: 150px;
    height: 100%;
    background-color: #c00;
    overflow: hidden;
}

.movie .backdrop:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.movie .scale {
    height: 6px;
    background: #252525;
    border-top: 1px solid #252525;
    margin-top: -3px;
    position: relative;
}

.movie .rate {
    background: #c00;
    height: 100%;
}

.movie .title {
    font-size: 2rem;
    color: #0066d0;
    font-weight: bold;
    margin: 1rem 0 0.2rem;
}

.movie .popularity {
    color: #a2a1a1;
    font-size: 1.5rem;
}

.movie .add_button {
    display: block;
    background: none;
    border: none;
    color: #0066d0;
    font-size: 1.4rem;
    cursor: pointer;
}

/* FOOTER */
footer {
    height: 53px;
    border-top: solid #c00 3px;
    font-size: 1.6rem;
    color: #fff;
    background: #252525;
    margin-top: auto;
}

footer .container {
    height: 100%;
    display: flex;
    align-items: center;
}
